img {
  width: 350px;
  height: 350px;
  float: right;
  object-fit: cover;
}
.username {
  font-weight: bold;
  text-align: center;
}
em {
  color: red;
}
.projects {
  display: inline-block;
  padding-right: 2%;
  padding-left: 1%;
}
